[
    {rabbit, [
      {vm_memory_high_watermark, {absolute, "1024MiB"}},
      {disk_free_limit, 1000000000},
     {tcp_listeners, [5672]},
     {ssl_listeners, [5671]},
     {ssl_options, [{cacertfile,"etc/rabbitmq/certs/AddTrustExternalCARoot.crt"},
                    {certfile,"etc/rabbitmq/certs/257782765.crt"},
                    {keyfile,"etc/rabbitmq/certs/privateKey.key"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true}]},
     {loopback_users,[]},

      {default_vhost,       "/"},
      {default_user,        "msxrabb1tmq"},
      {default_pass,        "msxrabb1tmq"}
   ]},
   {rabbitmq_stomp, [{tcp_listeners, [61613]},
                     {ssl_listeners, [61614]}
   ]},
   {rabbitmq_web_stomp,
     [
        {tcp_config, [{port, 15674}]},
        {ssl_config, [{port,       15673},
                     {backlog,    1024},
                     {cacertfile, "etc/rabbitmq/certs/AddTrustExternalCARoot.crt"},
                     {certfile,   "etc/rabbitmq/certs/257782765.crt"},
                     {keyfile,    "etc/rabbitmq/certs/privateKey.key"},
                     %% needed when private key has a passphrase
                     {password,   "bunnies"}]}
     ]
   }
].