[
    {rabbit, [
     {tcp_listeners, [5672]},
     {ssl_listeners, [5671]},
     {ssl_options, [{cacertfile,"etc/rabbitmq/certs/ca_certificate.pem"},
                    {certfile,"etc/rabbitmq/certs/server_certificate.pem"},
                    {keyfile,"etc/rabbitmq/certs/server_key.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true}]},
     {loopback_users,[]},

      {default_vhost,       "/"},
      {default_user,        "msxrabb1tmq"},
      {default_pass,        "msxrabb1tmq"}
   ]},
   {rabbitmq_stomp, [{tcp_listeners, [61613]},
                     {ssl_listeners, [61614]}
   ]},
   {rabbitmq_web_stomp,
     [
        {tcp_config, [{port, 15674}]},
        {ssl_config, [{port,       15673},
                     {backlog,    1024},
                     {cacertfile, "etc/rabbitmq/certs/ca_certificate.pem"},
                     {certfile,   "etc/rabbitmq/certs/server_certificate.pem"},
                     {keyfile,    "etc/rabbitmq/certs/server_key.pem"},
                     %% needed when private key has a passphrase
                     {password,   "bunnies"}]}
     ]
   }
].