[
    { rabbit, [
      {tcp_listeners, [5672]},
      {ssl_listeners, [5671]},
      {loopback_users,[]},
      {default_vhost,       "/"},
      {default_user,        "msxrabb1tmq"},
      {default_pass,        "msxrabb1tmq"}
   ]},
   {rabbitmq_stomp, [{tcp_listeners, [61613]},
                     {ssl_listeners, [61614]}
   ]},
   {rabbitmq_web_stomp,
     [
        {tcp_config, [{port, 15674}]}        
     ]
   }
].